@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: grey;
  color: white;
}
/* Navbar */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 15px;
}
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
